<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tp.mapper.ProductImageMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.tp.common.entity.ProductImage">
        insert into product_image(product_id, url, name, description)
        values (#{productId}, #{url}, #{name}, #{description})
    </insert>

    <select id="getById" resultType="com.tp.common.entity.ProductImage">
        select *
        from product_image
        where id = #{id}
    </select>

    <select id="getByProductId" resultType="com.tp.common.entity.ProductImage">
        select *
        from product_image
        where product_id = #{productId}
    </select>

    <update id="update" parameterType="com.tp.common.entity.ProductImage">
        update product_image
        <set>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="url != null">url = #{url},</if>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from product_image where id = #{id}
    </delete>

    <delete id="deleteByProductId">
        delete from product_image where product_id = #{productId}
    </delete>

</mapper>